:root {
  --primary-color: #1e3a8a;
  --primary-hover: #2563eb;
  --text-color: #333;
  --background-color: #f8f9fa;
  --card-background: #fff;
  --border-color: #e0e0e0;
  --radius: 10px;
}

body {
  margin: 0;
  padding-top: 50px; 
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  height: 50px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(49, 1, 1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.navbar a {
  color: rgb(61, 18, 18);
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-size: large;
}

.navbar a:hover {
  color: #282a2c;
}

.footer {
  margin-top: 4rem;
  padding: 1rem;
  text-align: center;
  background-color: #ddd;
  border-top: 1px solid var(--border-color);
}

.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}


